<section id="products" class="min-h-screen bg-white dark:bg-black text-white flex justify-center" data-aos="fade-right">
    <div class="container flex flex-col mx-auto mt-20 mb-1 px-1">

        <div class="text-center mb-16">
            <h2 class="text-4xl font-bold mb-4 text-black dark:text-white">Nossos Serviços</h2>
            <p class="max-w-xl mx-auto">Criamos soluções para atender seus objetivos e desafios.</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-center gap-16">
            <div class="">
                <h5 class="text-xl font-medium text-gray-700 dark:text-gray-400">Chatbot com IA</h5>
                <p class="text-black dark:text-white">
                    Forneça atendimento ao cliente 24/7 com um chatbot inteligente, capaz de responder dúvidas,
                    recomendar
                    produtos e automatizar o suporte. Ideal para personalizar a experiência do usuário e melhorar o
                    tempo de
                    resposta.
                </p>
            </div>
            <div>
                <h5 class="text-xl font-medium text-gray-700 dark:text-white">E-commerce Completo</h5>
                <p class="text-black dark:text-white">
                    Plataforma de e-commerce robusta e personalizada para gestão de produtos, pedidos e pagamentos.
                    Perfeita para negócios que buscam crescer online, com ferramentas de SEO, análise de dados e suporte
                    a múltiplas formas de pagamento.
                </p>
            </div>
            <div>
                <h5 class="text-xl font-medium text-gray-700 dark:text-white">Integrações com IA</h5>
                <p class="text-black dark:text-white">
                    Adicione inteligência artificial ao seu negócio com integrações que aprimoram processos, analisam
                    grandes volumes de dados e automatizam tarefas, permitindo uma experiência de compra inovadora e
                    personalizada para o cliente.
                </p>
            </div>
            <div>
                <h5 class="text-xl font-medium text-gray-700 dark:text-white">Clube de Assinatura</h5>
                <p class="text-black dark:text-white">
                    Ofereça assinaturas recorrentes para clientes, permitindo entregas periódicas e vantagens
                    exclusivas. Aumente a retenção de clientes com uma proposta de valor contínuo e receita previsível.
                </p>
            </div>

            <div>
                <h5 class="text-xl font-medium text-gray-700 dark:text-white">SaaS (Software as Service)</h5>
                <p class="text-black dark:text-white">
                    Lançamento de soluções SaaS que simplificam a gestão de negócios online com recursos acessíveis de
                    qualquer lugar. Escalável e sem a necessidade de instalação, ideal para empresas que buscam
                    eficiência e flexibilidade.
                </p>
            </div>
            <div>
                <h5 class="text-xl font-medium text-gray-700 dark:text-white">Sistema de Reservas</h5>
                <p class="text-black dark:text-white">
                    Sistema completo de reservas para empresas de serviços e eventos, com agendamento online,
                    confirmação automática e gerenciamento de horários. Fácil para o cliente e eficiente para o negócio.
                </p>
            </div>
            <div>
                <h5 class="text-xl font-medium text-gray-700 dark:text-white">Aplicativo Personalizado</h5>
                <p class="text-black dark:text-white">
                    Desenvolvimento de aplicativos personalizados, nativos ou híbridos, que atendem exatamente às
                    necessidades do seu negócio. Ideal para oferecer uma experiência de marca única e interativa para os
                    clientes.
                </p>
            </div>
            <div class="xs:mb-16">
                <h5 class="text-xl font-medium text-gray-700 dark:text-white">Vitrines Virtuais</h5>
                <p class="text-black dark:text-white">
                    Vitrine digital interativa que destaca produtos e promoções em uma interface visualmente atraente.
                    Perfeita para capturar a atenção do cliente e aumentar o engajamento com o catálogo de produtos.
                </p>
            </div>
        </div>
    </div>
</section>
