<section id="products" class="min-h-screen bg-white dark:bg-black text-white flex justify-center" data-aos="fade-right">
    <div class="container flex flex-col mx-auto mt-4 mb-2 px-1">

        <div class="text-center">
            <h2 class="text-4xl font-bold mb-4 text-black dark:text-white">Nossos Serviços</h2>
            <p class="max-w-xl mx-auto">Criamos soluções para atender seus objetivos e desafios.</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-center gap-4">
            <div>
                <h5 class="mb-1 text-xl font-medium text-gray-500 dark:text-gray-400">Chatbot com Inteligência
                    Artificial</h5>
                <p class="text-black dark:text-white">
                    Forneça atendimento ao cliente 24/7 com um chatbot inteligente, capaz de responder dúvidas,
                    recomendar
                    produtos e automatizar o suporte. Ideal para personalizar a experiência do usuário e melhorar o
                    tempo de
                    resposta.
                </p>
            </div>
            <div>
                <h5 class="mb-1 text-xl font-medium text-gray-500 dark:text-white">E-commerce Completo</h5>
                <p class="text-black dark:text-white">
                    Plataforma de e-commerce robusta e personalizada para gestão de produtos, pedidos e pagamentos.
                    Perfeita para negócios que buscam crescer online, com ferramentas de SEO, análise de dados e suporte
                    a múltiplas formas de pagamento.
                </p>
            </div>
            <div>
                <h5 class="mb-1 text-xl font-medium text-gray-500 dark:text-white">Integrações com IA</h5>
                <p class="text-black dark:text-white">
                    Plataforma de e-commerce robusta e personalizada para gestão de produtos, pedidos e pagamentos.
                    Perfeita para negócios que buscam crescer online, com ferramentas de SEO, análise de dados e suporte
                    a múltiplas formas de pagamento.
                </p>
            </div>

            <!-- sasadsadasd -->
            <div>
                <h5 class="mb-1 text-xl font-medium text-gray-500 dark:text-white">Integrações com IA</h5>
                <p class="text-black dark:text-white">
                    Plataforma de e-commerce robusta e personalizada para gestão de produtos, pedidos e pagamentos.
                    Perfeita para negócios que buscam crescer online, com ferramentas de SEO, análise de dados e suporte
                    a múltiplas formas de pagamento.
                </p>
            </div>

            <div>
                <h5 class="mb-1 text-xl font-medium text-gray-500 dark:text-white">Integrações com IA</h5>
                <p class="text-black dark:text-white">
                    Plataforma de e-commerce robusta e personalizada para gestão de produtos, pedidos e pagamentos.
                    Perfeita para negócios que buscam crescer online, com ferramentas de SEO, análise de dados e suporte
                    a múltiplas formas de pagamento.
                </p>
            </div>
            <div>
                <h5 class="mb-1 text-xl font-medium text-gray-500 dark:text-white">Integrações com IA</h5>
                <p class="text-black dark:text-white">
                    Plataforma de e-commerce robusta e personalizada para gestão de produtos, pedidos e pagamentos.
                    Perfeita para negócios que buscam crescer online, com ferramentas de SEO, análise de dados e suporte
                    a múltiplas formas de pagamento.
                </p>
            </div>
            <div>
                <h5 class="mb-1 text-xl font-medium text-gray-500 dark:text-white">Integrações com IA</h5>
                <p class="text-black dark:text-white">
                    Plataforma de e-commerce robusta e personalizada para gestão de produtos, pedidos e pagamentos.
                    Perfeita para negócios que buscam crescer online, com ferramentas de SEO, análise de dados e suporte
                    a múltiplas formas de pagamento.
                </p>
            </div>
            <div>
                <h5 class="mb-1 text-xl font-medium text-gray-500 dark:text-white">Integrações com IA</h5>
                <p class="text-black dark:text-white">
                    Plataforma de e-commerce robusta e personalizada para gestão de produtos, pedidos e pagamentos.
                    Perfeita para negócios que buscam crescer online, com ferramentas de SEO, análise de dados e suporte
                    a múltiplas formas de pagamento.
                </p>
            </div>
        </div>
    </div>
</section>