.fira-code-bold {
    font-family: 'Fira Code', monospace;
    font-weight: bold;
  }
  
  ::ng-deep .btn-primary{
    background-color: #2976e9;
    border-color: #0d6efd;
  }

  
  //animação typing
  @keyframes typing {
    from { width: 0; }
    to { width: 16.5ch; } /* 14ch representa o número exato de caracteres no texto */
  }
  
  @keyframes blinkCursor {
    50% { border-color: transparent; }
  }
  
  .typing {
    overflow: hidden;
    white-space: nowrap;
    height: 1.5rem;
    display: inline-block;
    animation: typing 4s steps(14, end) 1s forwards, blinkCursor 0.75s step-end infinite;
    width: 0;
  }
  
  /* Após a digitação, mantém o cursor piscando */
  .reanimate {
    border-right: 2px solid white; /* Mantém o cursor piscando */
    animation: blinkCursor 0.75s step-end infinite; /* Pisca após a digitação */
    width: 16.5ch; /* Fixa a largura ao número exato de caracteres */
  }
  
  .whatsapp-icon {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
    background-color: #00B067; 
    color: #ffffff; 
    border-radius: 30px; 
    padding: 10px; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    width: 217px; 
    height: 60px; 
    text-decoration: none;
    gap: 4px;
  }
  
  .whatsapp-icon span {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    flex: 1; 
  }
  
  .whatsapp-icon:hover {
    background-color: #25D366; 
  }