
<div class="bg-black">
<app-navbar (contactClick)="scrollToContact()" (homeClick)="scrollToHome()" (portfolioClick)="scrollToPortfolio()" (aboutClick)="scrollToAbout()" (servicesClick)="scrollToServicesWork()"></app-navbar>
<app-home #homeSection></app-home>
<!-- <app-about #aboutSection></app-about>
<app-serviceswork #servicesWorkSection></app-serviceswork>
<app-portfolio #portfolioSection></app-portfolio> -->
<!-- <iframe src="assets/bootstrap/index.html" style="width: 100%; height: 100vh; border: none;"></iframe> -->
<!-- <app-clients></app-clients>
<app-footer></app-footer> -->
<app-contact #contactSection></app-contact>
</div>