.container{
  width: 100vw;
  display: flex;
  align-items: center;
}

.social-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.quem-somos-texto {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 18px;
  color: #333;
  line-height: 1.5;
  text-align: justify;
  padding: 3rem;
}

.aspas {
  font-weight: bold;
  font-size: 70px;
}

.aspas-right {
  text-align: right;
}
.social-icon {
  font-size: 50px;
}
.social-icon:hover {
  color: red;
}

@media (min-width: 768px) {
  .quem-somos-texto {
    padding: 6rem;
  }
}
