/* navbar.component.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  cursor: pointer;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  margin-left: 10px;
}
.logo-completo{
  height: 40px;
  margin-right: 10px;
  margin-left: 12px;
  margin-top: 7px;
}

.logo-4  {
  height: 28px;
  margin-left: 25px;
  margin-top: 1px;
  position: absolute;
  animation: rotate-on-load 3s linear 1;
}

@keyframes rotate-on-load {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}